.sidebarContainer {
  margin-top: 12px;
  position: fixed;
}

.configContainer {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  width: 95rem;
}

.basicElement {
  display: flex;
  gap: 14%;
  margin-top: 20px;
  margin-left: 6rem;
}
.basicTitle {
  display: flex;
  flex-direction: column;
}

.basicForm {
  display: flex;
  gap: 12rem;
}

.configFactoryReset {
  display: flex;
  justify-content: space-between;
}
.formContainer {
  margin-top: 12px;
  overflow: auto;
  max-height: 32rem;
  display: flex;
  gap: 10px;
}

.configNav{
  display: flex;
}
.configAutoPay{
  display: flex;
  gap: 8rem;
}