<<<<<<< HEAD
// Here you can add other styles

.root {
    display: flex;
    flex-direction: column;
}
=======
.sidebar{
    width: 15rem;
    margin-top: 7rem;
    background-color:rgb(106, 90, 205)
}
>>>>>>> d8cb642f7df3ea0bd5d575396ff9401fb6b2e9e5
