.conf-list {
    display: flex;
    flex-direction: column;
}

.entrance-input {
    color: grey;
    outline: none;
    border: 1px solid rgb(206, 206, 206);
    padding-left: 1rem;
}

.sidebar{
    width: 16.6rem;
    margin-top: 7rem;
    background-color:rgb(106, 90, 205)
}

