.conf-list {
  display: flex;
  flex-direction: column;
}
.logo{
  margin-right: 95rem;
  display: flex;
}


.entrance-input {
  color: grey;
  outline: none;
  border: 1px solid rgb(206, 206, 206);
  padding-left: 1rem;
}

.popup-forms {
  width: 50vw;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10vw gray;
}

.popup-forms .form-content {
  width: 70%;
  margin: auto !important;
}

.mainSidebar {
  margin-top: 128px;
  background-color: rgb(106, 90, 205);
}

.sidebutton {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
/*********************************************DASHBOARD*************************************/
.mainContainer {
  display: flex;
}
.chartcontainer {
  display: flex;
}
.todoTitle {
  padding-top: 16px;
}

.dashboardVehicleList {
  display: flex;
  gap: 3px;
}
.todoContainer {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.recentlyUsed {
  margin-left: 17px;
}
/*************************DASHBOARD BOTTOM PANEL**********************/
.bottomPanelContainer {
  width: 75rem;
}

.summaryPanel {
  display: flex;
  gap: 3rem;
  width: 75rem;
}

.summaryContainer {
  display: flex;
  margin-top: 12px;
  gap: 2rem;
}

.boxItem {
  display: flex;
  flex-direction: column;
}

/****************************************SIDE PANEL***********************/
.sidePanel {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}
